<header class="bg-gray-500 sticky top-0 z-50 px-4">
  <div class="container mx-auto flex justify-between items-center py-4">
    <span class="text-white uppercase font-semibold">Ben Halverson</span>
    <nav class="md:flex md:flex-grow justify-center">
      <ul class="flex justify-center space-x-4 text-white">
        <li>
          <a routerLink="/" class="hover:text-secondary font-bold">Home</a>
        </li>
        <li>
          <a routerLink="/resume" class="hover:text-secondary font-bold"
            >Resume</a
          >
        </li>
        <li>
          <a routerLink="/projects" class="hover:text-secondary font-bold"
            >Projects</a
          >
        </li>
      </ul>
    </nav>


    <button
    class="flex transition-transform hover:scale-125 align-middle"
    (click)="darkMode.set(!darkMode())"
  >
    <span *ngIf="!darkMode()" class="material-icons">dark_mode</span>
    <span *ngIf="darkMode()" class="material-icons">light_mode</span>
  </button>
  </div>
</header>
