<header class="sticky top-0 z-40 w-full">
  <div class="relative">
    <a routerLink="/" class="flex items-center justify-center p-4"> logo</a>
  </div>
  <div>
    <nav class="flex items-center justify-between p-4">
      <ul class="flex items -center space-x-4">
          <a routerLink="/projects" class="hover:text-foreground flex items-center justify-center rounded-lg px-5 py-2 text-sm font-medium transition-all text-foreground/60">Projects</a>
          <a routerLink="/" class="hover:text-foreground flex items-center justify-center rounded-lg px-5 py-2 text-sm font-medium transition-all text-foreground/60">About</a>

      </ul>
    </nav>
  </div>
</header>
