<main>
  <app-header></app-header>
  <div class="relative flex items-center justify-center">
    <div class="pb-28">
      <h1 class="font-display mb-2 text-center text-3xl md:text-4xl lg:text-5xl">Hey there. I'm <span class="text-primary">Ben Halverson</span></h1>
      <h2 class="mb-8 text-center text-lg md:text-xl"> A tech enthusiast who loves building web apps</h2>
      <div class="flex justify-center space-x-2 sm:space-x-4">
        <a routerLink="/projects" class="inline-flex text-center items-center justify-center rounded-lg min-w-[100px] text-sm font-medium ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 shadow-sm hover:shadow transition-all px-8 py-3 min-h-[50px] bg-primary text-primary-foreground hover:bg-primary/80">View Projects</a>
      </div>
    </div>

    <div class="relative flex items-center justify-center">
      <p>Hello world</p>
    </div>

    <div class="relative flex items-center justify-center">
      <p>Hello world</p>
    </div>


    </div>
  <app-footer></app-footer>
</main>
